
body {

    background-color: #777;
    font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

* {

    position: relative;
    box-sizing: border-box;
    text-align: center;

}

header {

    padding: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    width: 960px;
}


nav {

    padding: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    width: 960px;

}

/* i wasn't quite able to get them centered the way i wanted them to be*/

#wrapper {

    background-color: #ccc;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    

}

#first {
    
    width: 495px;
    height: 250px;
    float: left; 
    background-color: #ccc;


}
 
.article {

    background-color: #777;
    margin: 10px;
    width: 450px;
    height: 180px;



}
.headers_1 {
    
    width: 380px;
    height: 40px;
    background-color: #ccc;
    padding-left: 30px;
    text-align: center;
    margin-bottom: 15px;
    margin-right:15px;
    margin-left: 15px;


}

.paragraph {
    
    width: 380px;
    height: 40px;
    background-color: #ccc;   
    padding: 30px;
    margin-left: 15px;
]


}

#second {

    border-left: 10px solid #777;
    width: 455px;
    height: 250px;
    float: left; 
    background-color: #ccc;
    margin-bottom: 15px;
   
}

footer {

    clear: both;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ccc;
    width: 960px;

}

